/* .principal button {
    border: none;
    margin: 5px;
    border-radius: 5px;
    font-size: 18px;
    background-color: #6ebe8e;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
} */

.principal button:hover {
    background-color: #6c41bd;
}

.noselected {
    border: none;
    margin: 5px;
    border-radius: 5px;
    font-size: 18px;
    background-color: #8B6DC4;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.selected {
    border: none;
    margin: 5px;
    border-radius: 5px;
    font-size: 18px;
    background-color: #6c41bd;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}