.principal {
    background-color: #73c996;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.contenedor {
    display: flex;
    width: 100%;
    height: 85%;
}

.filtro {
    width: 12%;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #73c996;
}


.filtro div {
    font-size: small;
    font-weight: 500;
}

.filtro p {
    font-size: small;
    font-weight: 500;
}

.butons {
    display: flex;
    position: relative;
    right: 15px;
}

.butons button {
    font-size: 15px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    position: relative;
    margin-left: 15px;
    background-color: #6ebe8e;

    /* top: 70px; */
}

.butons button:hover {
    background-color: #ff8c00;
}

.card {
    width: 88%;
    box-sizing: border-box;
    padding: 10px;
}

.page {
    margin-top: auto;
    box-sizing: border-box;
    padding: 10px;
    background-color: #73c996;
}

.titulo {
    display: flex;
}

.titulo p {
    position: relative;
    left: 5px;
    border: 1px solid #73c996;
    border-radius: 5px;
    background-color: #73c996;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}