.principal input {
    outline: none;
    border-radius: 5px;
    border: none;
    width: 250px;
    height: 38px;
    background-color: #E6E6FA;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.principal input:hover {
    background-color: #e6eefa;;
}

.principal button{
    position: relative;
    right: 70px;
    border: 1px;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #8B6DC4;
}

.principal button:hover {
    background-color: #6c41bd;
}