.principal {
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #73c996;
}

.contenedor {
    display: flex;
    gap: 300px;
}

.botones {
    display: flex;
    margin-right: 60px;
    gap: 50px;
}

.botones a {
    background-color: #6ebe8e;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    font-size: larger;
    color: black;
    height: 35px;
    width: 65px;
}

.botones a:hover{
    background-color: #ff8c00;
}


/* .botones {
    display: flex;
    position: relative;
    left: 650px;
}

.home {
    position: relative;
    right: 30px;
    text-decoration: none;
    font-size: x-large;
    font-weight: 600;
    color: black;
    border-radius: 5px;
    background-color: #6ebe8e;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.from {
    text-decoration: none;
    font-size: x-large;
    font-weight: 600;
    color: black;
    border-radius: 5px;
    background-color: #6ebe8e;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.home:hover {
    color: black;
    background-color: #ff8c00;
}

.from:hover {
    color: black;
    background-color: #ff8c00;
} */